{{> head }}

<section id="presentation">
  <div id="presentation-text">
    <h1>Aqui o seu potencial é<br/>reconhecido!</h1>

    <div id="presentation-text-content">
      <p>
        Seja muito bem-vindo(a) ao <b>EM.power</b>, o seu portal de oportunidades!
        Aqui você terá acesso à uma gama incrível de oportunidades de trabalho em
        empresas renomadas. Estamos comprometidos em ajudar profissionais
        talentosos em vulnerabilidade social a encontrar empregos que valorizem
        suas habilidades e competências. Junte-se a nós e descubra um mundo de
        possibilidades para construir uma carreira brilhante.
      </p>
    </div>
  </div>
  <div id="presentation-banner"></div>
</section>

<section id="connections">
  <h2>Conexões que transformam vidas.</h2>

  <div id="connections-text-content">
    <p>
      Na plataforma <b>EM.power</b>, acreditamos no poder das conexões. Cada rosto
      representa um história única, uma trajetória de superação e determinação.
      Aqui, profissionais em vulnerabilidade social se conectam a oportunidades de
      emprego, empresas encontram talentos excepcionais e juntos contruímos um
      futuro mais inclusivo.
    </p>
  </div>

  <img src="/static/img/index-connections.png" /><br/><br/>
</section>

<section id="testimonies">
  <h2>Depoimentos dos candidatos</h2>

  <div class="testimony-card">
    <div class="testimony-card-picture">
      <img src="/static/img/index-testimony-pic.png" height="150" />
    </div>

    <div class="testimony-card-text">
      <p>
        "Eu estava em uma situação difícil, sem perspectivas de emprego, até
        encontrar a plataforma EM.power para recrutamento e seleção de
        profissionais em vulnerabilidade social. Com ela, consegui me conectar
        a diversas oportunidades de emprego e finalmente encontrar uma empresa
        que reconhecesse minhas habilidades. Além disso, o suporte durante todo
        o processo foi fundamental para minha confiança e sucesso. Estou muito
        grato por essa iniciativa que realmente faz a diferença na vida de
        pessoas como eu."
      </p>
      <br/>
      <p><b>Fabiana, UX Designer</b></p>
    </div>
  </div>
</section>

{{> foot }}
