{{> head }}

<main>
  <h1>Meu perfil</h1>

  <section id="my-profile-presentation">
    <div id="my-profile-presentation-picture">
      <img src="/static/img/my-profile-avatar.png"/>
    </div>

    <div id="my-profile-presentation-text">
      <h2>{{ user.firstName }} {{ user.lastName }}</h2>

      <div id="my-profile-presentation-text-bio">
        <p>{{ user.bio }}</p>
      </div>

      <h3>Contato:</h3>

      <ul>
        <li><b>E-mail:</b> {{ user.contact.email }}</li>
        <li><b>Telefone:</b> {{ user.contact.tel }}</li>
      </ul>
    </div>
  </section>

  <section id="my-profile-progress">
    <h2>Formação</h2>

    {{# user.experiences }}
      <div class="experience-card">
        <div class="experience-card-left">
          <b class="experience-card-left-dates">{{ startYear }} - {{ endYear }}</b>
          <b class="experience-card-left-name">{{ name }}</b>
        </div>
        <div class="experience-card-right">
          <p>{{ description }}</p>
        </div>
      </div>
    {{/ user.experiences }}
  </section>

  <section id="my-profile-applications">
    <h2>Minhas candidaturas</h2>

    {{# user.applications }}
      <div class="my-profile-applications-application">
        <i>{{ company }}</i><br/><br/>
        <b>{{ job }}</b><br/><br/>
        
        <ul>
          {{# progress }}
            <li>{{ . }}</li>
          {{/ progress }}
        </ul>
      </div>
    {{/ user.applications }}
  </section>
</main>

{{> foot }}