<header>
  <div id="logo">
    <img src="/static/img/logo.jpeg" height="40">
  </div>

  <nav id="main-menu">
    <ul>
      <li><a href="/">Início</a></li>
      <li><a href="/oportunidades">Oportunidades</a></li>
    </ul>
  </nav>

  <div id="user">
      {{# userLogged }}
        <div id="my-profile-link">
          <a href="/me">{{ userName }}</a> | <a href="/logout">Sair</a>
        </div>
      {{/ userLogged }}

      {{^ userLogged }}
        <a class="btn" href="/login">Login</a>
      {{/ userLogged }}
  </div>
</header>